<!-- <div class="card-product center">
    <h2 class="card-product-header">{{ product?.name }}</h2>
    <section class="flexcol">
        <p class="card-product-data">Price: {{ product?.price }}</p>
        <p class="card-product-data">Price: {{ product?.category }}</p>
        <p class="card-product-data">Price: {{ product?.description }}</p>
        <p class="card-product-data">Price: {{ product?.quantity }}</p>
    </section>
</div> -->

<section class="card">

    <p class="text-title">{{product?.name}}</p>
    <div class="img-container flexcenter">
        <div class="img-product flexcenter">img</div>
    </div>
    <p class="text-body">{{product?.description}}</p>
    <p class="text-body"><b>Categoria: </b>{{product?.category?.name}}</p>

    <article class="paycard">
        <span class="">${{product?.price}}</span>
        <button class="btn-add">Add</button>
    </article>

</section>