<app-nav></app-nav>
<app-search (search)="searchProduct($event)"></app-search>
<main>
    <section class="card-container">
        <div *ngFor="let product of products" class="card">
            <app-card-product [product]="product"></app-card-product>
        </div>
        <div *ngIf="products.length === 0">
            <h2>No products found</h2>
        </div>
    </section>

    <section class="pageable flexrow">
        <button class="btn" (click)="previousPage()">{{'<'}}</button>&nbsp;
        <span>{{page+1}} de {{totalPages}}</span>&nbsp;
        <button class="btn" (click)="nextPage()">{{'>'}}</button>
    </section>
</main>
