<app-nav></app-nav>
<app-search></app-search>
<main>
    <section class="card-container">
        <div *ngFor="let product of products" class="card">
            <app-card-product [product]="product"></app-card-product>
        </div>
    </section>

    <section class="pageable flexrow">
        <button class="btn" (click)="previousPage()">Previous</button>
        <span>{{'Pagina 1'}} de {{' 2 Pagina(s)'}}</span>
        <button class="btn" (click)="nextPage()">Next</button>
    </section>
</main>
