.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; 
    height: 70vh;
} 

.card {
    width: 25%;
    justify-content: space-around;
}

@media (max-width: 657px) {
    .card {
        width: 100%;
    }
}

.btn {
    cursor: pointer;
    padding: 5px;
    background-color: rgb(53, 186, 248);
    color: white;
    border: none;
    border-radius: 3px;
}

.btn:hover {
    background-color: rgb(34, 112, 255);
}

.pageable {
    height: 10vh;
    background-color: antiquewhite;
}