.container-icon:hover {
    cursor: pointer;
    background-color: #ccc;
    /* Usa box-shadow para crear un efecto de contorno esférico */
    box-shadow: 0 0 0 1px #ccc; 
}

input {
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.container-icon {
    border-radius: 100%;
    margin: 10px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main {
    height: 10vh;
}



/* Estilos para el contenedor */
.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta al ancho deseado */
}

/* Actualiza los estilos del dropdown */
.dropdown {
    position: absolute;
    left: 0;
    width: auto; /* Asegura que el dropdown tenga el mismo ancho que el input */
    background-color: white;
    border: 1px solid #ddd;
    z-index: 100;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 8px;
    cursor: pointer;
}

.dropdown ul li:hover {
    background-color: #f0f0f0;
}